<footer class="footer">
  <div class="p2 wrap">
    <div class="measure mt1 center">
      <small>
        <a href="https://www.facebook.com/ivomav" target="_blank"><img src="/facebook.png" alt="facebook" height="60" width="60"></a>
        <a href="https://twitter.com/IvanoMavers" target="_blank"><img src="/twitter.png" alt="twitter" height="60" width="60"></a>
        <a href="https://www.linkedin.com/in/ivanomanca" target="_blank"><img src="/linkedin.png" alt="linkedin" height="60" width="60"></a>
      </small>
    </div>
  </div>
</footer>

{% if site.google_analytics %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');

</script>
{% endif %}
